:root{
    --bg-info: #DDF7E3;
    --bg-meniu: #ffffff;
    --bg-pp: #ffffff;


    --bg-bb: #55dcb1;

    --hover: #616161;

    --c1: #5d5d5d;
    --c4: #000000;
    --c5: #2e2e2e;
    --c2: #C7E8CA;
    --c3: #DDF7E3;
}